header {
    padding: 10px 20px;
}

.upper_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.logo img {
    width: 100px;
    height: auto;
}

.user_actions {
    list-style: none;
    display: flex;
    align-items: center;
}

.user_actions a {
    text-decoration: none;
    margin-left: 10px;
}

.user_actions img {
    width: 30px;
    height: auto;
}

.lower_row {
    margin-top: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header_nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header_nav li {
    display: inline;
    margin-right: 20px;
}

.header_nav a {
    text-decoration: none;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-container input[type="text"] {
    padding: 5px;
    padding-right: 25px; /* アイコンの分のスペースを確保 */
}

.search-container img {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px 0;
}
