body {
	max-width: 100%;
}

a{
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 1.5em; /* 1.5倍のフォントサイズ */
    margin: 30px;
}

h2 {
    font-size: 1.2em; /* 1.2倍のフォントサイズ */
    margin: 30px;
}

h3 {
    font-size: 1em; /* デフォルトのフォントサイズ */
    margin: 30px;
}

p{
    font-size: 1em;
}

/*ヘッダー*/
header{
    margin-bottom: 50px;
}

/*.upper_row {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 10px;*/
/*    margin-top: 10px;*/
/*}*/
.logo{
    margin: 0px;
}
.logo img {
    width: 150px;
    height: 50px;
}

.header_user_actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-left: auto;
}

.header_user_actions a{
    text-decoration: none;
    color: #000000;
}

.header_user_actions li{
    list-style: none;
    margin-right: 10px;
    font-size: 14px;
}

.header_user_actions p{
    margin-bottom: 0px;
    font-size: 1em;
}

.header_user_actions img {
    width: 20px;
    height: 20px;
}

#popover-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

.header_nav {
    display: flex;
    justify-content: space-around;
    width: 60%;
    list-style: none; 
    padding: 10px 30px;
    margin: 0 10px;
}

.header_nav a{
    text-decoration: none;
    color: #000000;
}

.header-item {
    flex: 1; 
    text-align: center; 
    font-size: 12px;
    font-family: serif;
}

/*ヘッダーフッター共通*/
.navbar_box{
    background-image: url('/static/images/header_footer_back.jpg');
    background-size: cover;
    background-position: center center;
}

/*フッター*/
footer{
    margin-top: 80px;
    text-align: center;
}
.footer_container{
    min-height: 100px;
}

.footer_nav {
    display: flex;
    justify-content: space-around;
    width: 80%;
    list-style: none; 
    padding: 10px 30px;
    margin: 0 10px;
}
.footer_nav a{
    text-decoration: none;
    color: #000000;
}

.footer-item {
    flex: 1; 
    text-align: center;
    font-family: serif;
    font-size: 12px;
    margin: 10px 20px;
    padding: 10px;
}

.copylight_container{
	text-align: center;
	font-size: 0.8em;
	font-family: serif;
}

/*トップページ*/
.container-fluid{
    padding: 0px;
}

.container{
    margin-top: 30px;
    margin-bottom: 50px;
}

.top_video {
    position: relative;
    width: 100%;
    /*max-height: 95vh;*/
    overflow: hidden;
}

.top_video video{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-overlay {
    text-align: center;
    color: white;
    opacity: 0; /* 最初は透明 */
    transition: opacity 0.5s ease; 
}
.overlay_main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay_annotation{
    position: absolute;
    top: 1%;
    left: 1%;
    text-align: center;
}
.text-overlay.show {
        opacity: 1;
    }
.top_title {
    font-family: serif;
    font-size: 3em;
    margin-bottom: 0.5em;
}

.top_message {
    font-family: Century;
    font-size: 1.5em;
}
.top_annotation{
    font-family: serif;
    font-size: 0.8em;
}

#toggleButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: none;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/*トップページコンテンツ部分*/
.top_information article{
    /*display: flex;*/
	margin-left: 30px;
	text-decoration: underline;
	padding: 20px;
}

.top_information_items li{
    list-style: none;
    margin-right: 30px;
}

.recommend_items{
    padding: 10px;
}
.recommend_item_image{
    max-width: 100%;
    height: auto;
}
.item_tag{
    background-color: #008000;
    color: white;
    font-size: 12px;
    padding: 2px;
    margin-left: 3px;
}
.item_tag_row{
    /*margin-right: 0px;*/
}

/*TOP~から探す*/
.item_search_container{
    /*width: 90%;*/
    padding: 30px;
}

.search_item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	font-size: 14px;
    font-weight: bold;
    margin-right: 30px;
    overflow: hidden; 
}
.search_item a{
    display: block;
	color: #000000;	
}

.search_item_link{
    position: relative;
    display: block;    
}

.image-container {
    position: relative;
    overflow: hidden;
    display: inline-block; 
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%; 
    height: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.category_text {
    color: #333; 
    font-size: 16px; 
}

.banner_image{
    max-width: 100%;
    height: auto;
}

.search_image {
    max-width: 100%;
    height: auto;
}
.video_container{
    max-width: 900px;
    margin: auto;
    justify-content: center;
}

.tea_video{
    max-width: 100%;
    height: auto;
}

/*マイページ*/
.mypage_container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    /*margin: 50px 10px;*/
}
.mypage_item{
    margin: 10px 20px;
    padding: 30px;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
}
.mypage_item a{
    text-decoration: none;
    color: #000000;
}

.admin_table td {
        padding: 3px; /* パディングを調整 */

    }
    
.coupon-image {
        max-width: 200px;
        max-height: 200px;
    }
    
.large-text {
        font-size: 30px;
    }
