body {
  font-family: "源ノ角ゴシック","ヒラギノ角ゴシック","MSゴシック",sans-serif;
	max-width: 100%;
}

a{
	color: #000000;
	text-decoration: none;	
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 1.5em; /* 1.5倍のフォントサイズ */
  margin: 30px;
}

h2 {
  font-size: 1.2em; /* 1.2倍のフォントサイズ */
  margin: 30px;
}

h3 {
  font-size: 1em; /* デフォルトのフォントサイズ */
  margin: 30px;
}

p{
    font-size: 1em;
}
ul li{
  list-style: none;
}

.container-fluid{
    padding: 0;
}
.container{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px
}
/*ボタン　大*/
.btn_lg{
  height: 50px;
	width: 200px;
	align-items: center;
	justify-content: center;
	margin: 30px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}
/*ボタン　中*/
.btn_md{
	height: 30px;
	width: 150px;
	align-items: center;
	justify-content: center;
	margin: 20px;
  /*padding: 5px 10px;*/
  font-size: 14px;
  cursor: pointer;
}
/*ボタン　小*/
.btn_sm{
	height: 24px;
	width: 80px;
	align-items: center;
	justify-content: center;
	margin: 10px;
  /*padding: 5px 10px;*/
  font-size: 10px;
  cursor: pointer;
}
/*ボタン　ホワイト*/
.btn_white{
	background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #000;
}
/*ボタン　グレー*/
.btn_gray{
	background-color: #555555;
  color: #FFFFFF;
  border: 0;
}

.return_link a{
  text-decoration: none;
  font-size: 12px;
}

/*一覧表示商品の上部アイコン*/
.item_upper_icons{
  display: flex;
  margin-bottom: 0px;
  padding: 0px;
}

.item_upper_icons li{
    list-style: none;
    margin-right: 8px;
}

.item_upper_icons img{
    width: 18px;
    height: 18px;
    margin-right: 0px;
    cursor: pointer;
}
  
/*完了画面*/
.complete_message{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 20px;
}

.complete_message p{
  font-size: 1.5em;
}

/* エラーメッセージ用のスタイル */
.error {
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  color: green;
}

/* 投稿のスタイル */
.items {
  padding: 0;
}
.item {
  margin-bottom: 30px;
  list-style: none;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.flex {
	display: flex;
}

.item_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item_heading {
  background-color: #dddddd;
  font-weight: bold;
}
.item_main_img {
  width: 100px;
}
.item_main_img img{
  width: 100%;
}

.nav-bg-custom {
   background-color: #1C7F7A;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #E38C89 !important;
  border-color: #E38C89 !important;
}

.link-button-style {
	background-color: #E38C89 !important;
	text-decoration: none;
	color: #ffffff;
}

.form-container {
	margin-top: 10%;
}

#logout {
	display:none;
}

.item_table {
	border-collapse: collapse;
	margin-top: 20px;
}

.item_table th, .item_table td {
	border: solid 1px black;
	padding: 5px;
}

.item_image {
	height: 180px;
	width: 180px;
}

#gallery img{
   width: 120px;
   height: 120px;
   margin-top: 5px;
   margin-right: 20px;
}

/*インフォメーション管理*/
.admin_create_btn{
    display: flex;
    margin-right: 0px;
}

.information_table {
  width: 100%;
	border-collapse: collapse;
	text-align: center;
	margin-top: 20px;
}

.information_table th, .information_table td {
	border: solid 1px black;
	padding: 5px;
}

.navbar-light .navbar-brand.logo {
	color: #283c63;
	font-size: 25px;
	font-weight: bold;
}

.main_title {
	color: #283c63;
}

.contents {
	padding-top: 30px;
}
.search {
	margin: 20px 0;
}

.search .btn.btn-outline-secondary {
	background-color: #f1eaf5;
}
.category {
	padding: 10px;
}

.nav_title {
	font-size: 16px;
	color: #283c63;
	background-color: #f0b400;
	padding: 10px 0;
}

.nav-link {
	padding-bottom: 5px !important;
	font-weight: bold;
}

.category_menu a {
	display: block;
}

.item.card {
	margin-bottom: 20px;
	padding: 10px;
	/*border: solid 5px #f0b400;*/

}

.item_row {
	align-items: center;
}
.item_figure {
	/* padding: 10px; */
}
.item_description {

}
.item_title {
	font-size: 20px;
}
.item_title a {
	color: #f85f73;
}

.spinner-container {
  display: flex;
  justify-content: center;
  user-select: none;
  border: 1px solid black;
  border-radius: 10%;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.spinner {
  width: 35px;
  padding: 0;
  text-align: center;
  background: none;
  border-top-width: 0;
  border-bottom-width: 0;
  outline: none;
  pointer-events: none;
}

.spinner::-webkit-inner-spin-button,
.spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.spinner-sub,
.spinner-add {
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  line-height: 35px;
}

.disabled {
  opacity: 0.3;
  cursor: inherit;
}

/*商品詳細レビュー*/
.item_detail_review{
  background-color: #EEEEEE;
}