body {
	font-family: "源ノ角ゴシック","ヒラギノ角ゴシック","MSゴシック",sans-serif;
	width: 100%;
}
.header_nav {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.header_nav {
  margin-right: 30px;
}

/* エラーメッセージ用のスタイル */
.error {
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  color: green;
}

/* 投稿のスタイル */
.items {
  padding: 0;
}
.item {
  margin-bottom: 30px;
  list-style: none;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.flex {
	display: flex;
}

.item_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item_heading {
  background-color: #dddddd;
  font-weight: bold;
}
.item_main_img {
  width: 100px;
}
.item_main_img img{
  width: 100%;
}

.nav-bg-custom {
   background-color: #1C7F7A;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #E38C89 !important;
  border-color: #E38C89 !important;
}

.link-button-style {
	background-color: #E38C89 !important;
	text-decoration: none;
	color: #ffffff;
}

.form-container {
	margin-top: 10%;
}

#logout {
	display:none;
}

.item_table {
	border-collapse: collapse;
	margin-top: 20px;
}

.item_table th, .item_table td {
	border: solid 1px black;
	padding: 5px;
}

.item_image {
	height: 180px;
	width: 180px;
}

#gallery img{
   width: 120px;
   height: 120px;
   margin-top: 5px;
   margin-right: 20px;
}

.navbar-light .navbar-brand.logo {
	color: #283c63;
	font-size: 25px;
	font-weight: bold;
}

.main_title {
	color: #283c63;
}

.contents {
	padding-top: 30px;
}
.search {
	margin: 20px 0;
}

.search .btn.btn-outline-secondary {
	background-color: #f1eaf5;
}
.category {
	padding: 10px;
}

.nav_title {
	font-size: 16px;
	color: #283c63;
	background-color: #f0b400;
	padding: 10px 0;
}

.nav-link {
	padding-bottom: 5px !important;
	font-weight: bold;
}

.category_menu a {
	display: block;
}


.item.card {
	margin-bottom: 20px;
	padding: 10px;
	border: solid 5px #f0b400;

}

.item_row {
	align-items: center;
}
.item_figure {
	/* padding: 10px; */
}
.item_description {

}
.item_title {
	font-size: 20px;
}
.item_title a {
	color: #f85f73;
}

.btn_lg{
	height: 50px;
	width: 200px;
	align-items: center;
	margin: 50px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.btn_white{
	background-color: #fff;
  color: #000;
  border: 1px solid #000;
.spinner-container {
  display: flex;
  justify-content: center;
  user-select: none;
  border: 1px solid black;
  border-radius: 10%;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.spinner {
  width: 35px;
  padding: 0;
  text-align: center;
  background: none;
  border-top-width: 0;
  border-bottom-width: 0;
  outline: none;
  pointer-events: none;
}

.spinner::-webkit-inner-spin-button,
.spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.spinner-sub,
.spinner-add {
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  line-height: 35px;
}

.disabled {
  opacity: 0.3;
  cursor: inherit;
}