body{
	font-family: "源ノ角ゴシック","ヒラギノ角ゴシック","MSゴシック",sans-serif;
}

/* エラーメッセージ用のスタイル */
.error {
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  color: green;
}

/* 投稿のスタイル */
.items {
  padding: 0;
}
.item {
  margin-bottom: 30px;
  list-style: none;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}
.item_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item_heading {
  background-color: #dddddd;
  font-weight: bold;
}
.item_main_img {
  width: 100px;
}
.item_main_img img{
  width: 100%;
}

.nav-bg-custom {
   background-color: #1C7F7A;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #E38C89 !important;
  border-color: #E38C89 !important;
}

.link-button-style {
	background-color: #E38C89 !important;
	text-decoration: none;
	color: #ffffff;
}

.form-container {
	margin-top: 10%;
}

#logout {
	display:none;
}

.item_table {
	border-collapse: collapse;
	margin-top: 20px;
}

.item_table th, .item_table td {
	border: solid 1px black;
	padding: 5px;
}

.item_image {
	height: 150px;
	width: 150px;
}

.navbar-light .navbar-brand.logo {
	color: #283c63;
	font-size: 25px;
	font-weight: bold;
}

.main_title {
	color: #283c63;
}

.contents {
	padding-top: 30px;
}
.search {
	margin: 20px 0;
}

.search .btn.btn-outline-secondary {
	background-color: #f1eaf5;
}
.category {
	padding: 10px;
}

.nav_title {
	font-size: 16px;
	color: #283c63;
	background-color: #f0b400;
	padding: 10px 0;
}

.nav-link {
	padding-bottom: 5px !important;
	font-weight: bold;
}

.category_menu a {
	display: block;
}


.item.card {
	margin-bottom: 20px;
	padding: 10px;
	border: solid 5px #f0b400;

}

.item_row {
	align-items: center;
}
.item_figure {
	/* padding: 10px; */
}
.item_description {

}
.item_title {
	font-size: 20px;
}
.item_title a {
	color: #f85f73;
}

/*　↓　ヘッダー フッター　川名記載*/
.upper_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.logo img {
    width: 150px;
    height: 50px;
}

.header_user_actions {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.header_user_actions a {
    text-decoration: none;
    margin-left: 10px;
}

.header_user_actions img {
    width: 20px;
    height: 20px;
}

.lower_row,
.footer_row{
	display: flex;
	height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #F5DEB3;
    /*background: url("{% static 'images/washi.jpg' %}");*/
}
.lower_row{
	margin-bottom: 50px;
}
.footer_row{
	margin-top: 50px;
}

.header_nav,
.footer_nav{
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
    margin: 20px;
}

.header_nav li,
.footer_nav li{
    margin-right: 30px;
}

.header_nav a,
.footer_nav a{
	text-decoration: none;
	font-size: 14px;
    font-weight: bold;
    color: #000000;
}
.search-container {
    position: relative;
    display: inline-block;
}

.search-container input[type="text"] {
    padding: 5px;
    padding-right: 25px; /* アイコンの分のスペースを確保 */
}

.search-container img {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.copylight_container{
	text-align: center;
}
/*トップページ*/
.news{
	margin: 30px;
}