{% extends "layouts/default_minimum.html" %}
 
{% block title %}{{ title }}{% endblock %}
 
{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="POST">
        {{ form.non_field_errors }}
 
        {% for field in form %}
        <p>
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.errors }}
        </p>
        {% endfor %}
        {% csrf_token %}
        <button type="submit">ログイン</button>
    </form>
{% endblock %}
