{% extends "layouts/default.html" %}

{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/mypage.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main>
    <h1>{{ title }}</h1>
    
    <div class="row container mypage_container">
        <div class="mypage_item col-4">
            <a href="#">ご登録情報</a>
        </div>
        <div class="mypage_item col-4">
            <a href="#">お気に入りリスト</a>
        </div>
        <div class="mypage_item col-4">
            <a href="#">ご購入履歴</a>
        </div>
        <div class="mypage_item col-4">
            <a href="#">レビュー投稿履歴</a>
        </div>            
    </div>
    <div class="return_link d-flex justify-content-center">
        <a href="" onclick="window.history.back();return false;">＜ 戻る</a>
    </div>
</main>
{% endblock %}