{% extends "layouts/default.html" %}
{% load humanize %}
 
{% block title %}{{ title }}{% endblock %}
 
{% block content %}
    <div class="container">
		<h1>{{ title }}</h1>
		    <nav class="navbar navbar-expand-md navbar-light bg-light justify-content-between">
		        <span class="navbar-text">ご注文内容</span>
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'items:carts' %}">カートに戻る</a>
            </nav> 
		<div class="row">
    			<div class="col-12">
                    {% for cart in carts %}
                        <div class="card item">
        					<div class="row item_row">
        						<div class="col-md-3 item_figure">
        							{% with cart.item.item_images.all.0 as first_image %}
        							<a href="{% url 'items:item_detail' cart.item.pk %}">
                               			<img class="rounded img-fluid auto" src="{{ first_image.image.url }}">
                               		</a>
                            		{% endwith %}
        						</div>
        						<div class="col-md-5 item_description">
        							<dl>
                                        <dt>{{ cart.item.name }}</dt>
                                        <dd>{{ cart.item.description }}</dd>
                                     </dl>
                                </div>
                                <div class="col-md-3 offset-1 item_description">
                            		<dl>
                                        <dt>購入数</dt>
                                        <dd>{{ cart.amount }}</dd>
                                        <dt>税込価格</dt>
                                        <dd>{{ cart.item.price | intcomma  }}円
                                            <small>(内税{{ cart.item.tax_percent | intcomma }}%)</small>
                                        </dd>
                                    </dl>
        						</div>
        					</div>
        				</div>
        			{% endfor %}
        			{% if order_data.couponcode %}
        			    <div class="row mt-5 mb-3">
        			        <p class="offset-8 col-md-4 font-weight-bold text-left">クーポン利用：税抜き価格から{{ coupon_code.discount_percent }}％OFF</p>
        			    </div>
        			{% endif %}
        				<div class="row mb-4">
    					    <div class="col-md-9">
    					        <p class="text-right font-weight-bold">消費税８%対象商品</p>
    					    </div>
    					    {% if order_data.couponcode %}
    					       <div class="col-md-3">
        					       <div class="">税抜小計：{{ discounted_subtotal8 | intcomma }}円</div>
        					       <div>
        					           <small>消費税８%：{{ tax_discount8 | intcomma }}円</small>
        					       </div>
        					       <div class="font-weight-bold">税込小計：{{ discounted_subtotal8_with_tax | intcomma }}円</div>
    					        </div>
    					    {% else %}
        					    <div class="col-md-3">
        					       <div class="">税抜小計：{{ subtotal8 | intcomma }}円</div>
        					       <div>
        					           <small>消費税８%：{{ tax8 | intcomma }}円</small>
        					       </div>
        					       <div class="font-weight-bold">税込小計：{{ subtotal8_with_tax | intcomma }}円</div>
        					    </div>
        					 {% endif %}
    					</div>
					<div class="row">
					    <div class="col-md-9">
					        <p class="text-right font-weight-bold">消費税10%対象商品</p>
					    </div>
					    {% if order_data.couponcode %}
					         <div class="col-md-3">
    					       <div>税抜小計：{{ discounted_subtotal10 | intcomma }}円</div>
    					       <div>
    					           <small>消費税10%：{{ tax_discount10 | intcomma }}円</small>
    					       </div>
    					       <div class="font-weight-bold mb-4">税込小計：{{ discounted_subtotal10_with_tax | intcomma }}円</div>
    					       <div>
        					       <small>送料：無料</small>
    					       </div>
    					       <div class="font-weight-bold">
    					           <big>税込合計：{{ discounted_total | intcomma }}円</big>
    					       </div>
    					    </div>
    				    {% else %}
    					    <div class="col-md-3">
    					       <div>税抜小計：{{ subtotal10 | intcomma }}円</div>
    					       <div>
    					           <small>消費税10%：{{ tax10 | intcomma }}円</small>
    					       </div>
    					       <div class="font-weight-bold mb-4">税込小計：{{ subtotal10_with_tax | intcomma }}円</div>
    					       <div>
        					       <small>送料：無料</small>
    					       </div>
    					       <div class="font-weight-bold">
    					           <big>税込合計：{{ total | intcomma }}円</big>
    					       </div>
    					    </div>
    					{% endif %}
					</div>
        	    </div>
        	</div>
        	<div class="row">
        		<div class="col-12">
        		   	<form method="post" action="{% url 'accounts:order_confirmation' %}">
    		          {% csrf_token %}
        			    <nav class="navbar navbar-expand-md navbar-light bg-light">
        			        <span class="navbar-text">クーポン利用</span>
        			    </nav>
        			    <div class="form-group form-row mt-4">
            			    <label class="col-md-2 col-form-label text-md-right" for="couponcode">クーポンコード</label>
            			    <div class="col-md-3">
            			         <input class="form-control" type="text" id="couponcode" name="couponcode" value="{{order_data.couponcode}}" readonly>
            			    </div>
            			</div>
            			<nav class="navbar navbar-expand-md navbar-light bg-light">
        			        <span class="navbar-text">お支払い　※クレジットカード一括払いのみとなります。</span>
        			    </nav>
        			    <div class="form-group form-row mt-4">
            			    <label class="col-md-2 col-form-label text-md-right" for="cardnumber">クレジットカード番号</label>
            			    <div class="col-md-3">
            			        <input class="form-control" type="text" id="cardnumber" name="cardnumber" value="{{order_data.cardnumber}}" readonly>
            			     </div>
            			</div>
            			<div class="form-group form-row">
            			     <label class="col-md-2 col-form-label text-md-right" for="securitycode">セキュリティコード</label>
            			    <div class="col-md-3">
            			        <input class="form-control" type="text" id="securitycode" value="{{order_data.securitycode}}" readonly>
            			     </div>
            			</div>
        			    <nav class="navbar navbar-expand-md navbar-light bg-light">
        			        <span class="navbar-text">お客様情報</span>
        			    </nav>
            			<div class="row mt-4">
            			    <div class="col-md-2 text-md-right">
            			        (氏名)
            			    </div>
            			    <div class="col-md-3">
            			         {{ user.name }}
            			    </div>
            			</div>
            			<div class="row">
            			    <div class="col-md-2 text-md-right">
            			        (住所)
            			    </div>
            			    <div class="col-md-3">
            			         〒{{ user.postal_code }}
            			         {{ user.prefecture }}
            			         {{ user.city }}
            			         {{ user.street_address }}
            			         {% if user.building_name %}
            			             {{ user.building_name }}
            			         {% endif %}
            			    </div>
            			</div>
            			<div class="row mb-4">
            			    <div class="col-md-2 text-md-right">
            			        (電話番号)
            			    </div>
            			    <div class="col-md-3">
            			         {{ user.tel_number }}
            			    </div>
            			</div>   
            			    
        			    <nav class="navbar navbar-expand-md navbar-light bg-light">
        			        <span class="navbar-text">お届け先</span>
        			    </nav>
        			        <div class="form-check offset-1 mt-4">
                                <label class="form-check-label">
                                    {% if order_data.destination == "user_address" %}
                                    <input class="form-check-input" name="destination" type="radio" checked="true" value="{{order_data.destination}}" readonly>
                                    {% else %}
                                    <input class="form-check-input" name="destination" type="radio" readonly disabled>
                                    {% endif %}
                                    ご登録住所
                                </label>
            			    </div>
            			    <div class="form-check offset-1">
                                <label class="form-check-label">
                                    {% if order_data.destination == "with_invoice" %}
                                    <input class="form-check-input" name="destination" type="radio" checked="true" value="{{order_data.destination}}" readonly>
                                    {% else %}
                                    <input class="form-check-input" name="destination" type="radio" readonly disabled>
                                    {% endif %}
                                    別のお届け先（請求書も同封）
                                </label>
            			    </div>
            			    <div class="form-check offset-1 mb-4">
                                <label class="form-check-label">
                                    {% if order_data.destination == "without_invoice" %}
                                    <input class="form-check-input" name="destination" type="radio" checked="true" value="{{order_data.destinaiton}}" readonly>
                                    {% else %}
                                    <input class="form-check-input" name="destination" type="radio" readonly disabled>
                                    {% endif %}
                                    ご贈答先（請求書は登録住所に別送）
                                </label>
            			    </div>
            			    {% if order_data.destination_name %}
                			    <div id=destination_form>
                    			    <div class="form-group form-row mt-4">
                    			        <label class="col-md-2 col-form-label text-md-right" for="destination_name">お名前</label>
                    			    <div class="col-md-3">
                    			        <input class="form-control" type="text" id="destination_name" name="destination_name" placeholder="全角" value="{{order_data.destination_name}}" readonly>
                    			    </div>
                        			</div>
                        			<div class="form-group form-row">
                        			     <label class="col-md-2 col-form-label text-md-right" for="destination_kana">フリガナ</label>
                        			    <div class="col-md-3">
                        			     <input class="form-control" type="text" id="destination_kana", name="destination_kana" placeholder="全角カナ" value="{{order_data.destination_kana}}" readonly>
                        			     </div>
                        			</div>
                        			<div class="form-group form-row mt-4">
                    			        <label class="col-md-2 col-form-label text-md-right" for="destination_postalcode">郵便番号</label>
                    			        <div class="col-md-2 d-flex">
                    			            <input class="form-control" type="text" 
                    			                   id="destination_postalcode" name="destination_postalcode1" 
                    			                   pattern="\d{3}"
                    			                   value="{{order_data.destination_postalcode1}}"
                    			                   readonly> 
                    			            <input class="form-control ml-2" type="text" 
                    			                   id="destination_postalcode2" name="destination_postalcode2" 
                    			                   pattern="\d{4}" 
                    			                   value="{{order_data.destination_postalcode2}}"
                    			                   readonly>
                    			        </div>
                        			</div>
                        			<div class="form-group form-row">
                        			     <label class="col-md-2 col-form-label text-md-right" for="destination_address">住所</label>
                        			    <div class="col-md-3">
                        			     <input class="form-control" type="text" id="destination_address", name="destination_address" placeholder="全角" value="{{order_data.destination_address}}" readonly>
                        			     </div>
                        			</div>
                        				<div class="form-group form-row mt-4">
                    			        <label class="col-md-2 col-form-label text-md-right" for="destination_tel">電話番号</label>
                    			        <div class="col-md-3 d-flex">
                    			            <input class="form-control" type="tel" id="destination_tel" name="destination_tel" value="{{order_data.destination_tel}}" readonly> 
                    			            <input class="form-control ml-2" type="tel" id="destination_tel2" name="destination_tel2" value="{{order_data.destination_tel2}}" readonly>
                    			            <input class="form-control ml-2" type="tel" id="destination_tel3" name="destination_tel3" value="{{order_data.destination_tel3}}" readonly>
                    			        </div>
                        			</div>
                			    </div>
                			{% endif %}
        			    <nav class="navbar navbar-expand-md navbar-light bg-light">
        			        <span class="navbar-text">お届け日指定</span>
        			    </nav>
        			        <div class="form-check offset-1 mt-4">
                                <label class="form-check-label">
                                    {% if order_data.arrival_request == "False" %}
                                    <input class="form-check-input" name="arrival_request" type="radio" checked="true" value="False" readonly>
                                    {% else %}
                                    <input class="form-check-input" name="arrival_request" type="radio" value="False" readonly disabled>
                                    {% endif %}
                                    指定なし
                                </label>
            			    </div>
            			    <div class="form-group form-row">
                			    <label class="col-md-2 col-form-label text-md-right">
                    			    <div class="form-check">
                                        <label class="form-check-label">
                                            {% if order_data.arrival_request == "True" %}
                                            <input class="form-check-input" name="arrival_request" type="radio" checked="true" value="True" readonly>
                                            {% else %}
                                            <input class="form-check-input" name="arrival_request" type="radio" value="True" readonly disabled>
                                            {% endif %}
                                            指定あり
                                        </label>
                    			    </div>
                			    </label>
            			            <div class="col-md-9 mt-1">
            			               <input type="date" name="arrival_date" value="{{order_data.arrival_date}}" readonly>
            			               {% comment %}
            			               {{ form.arrival_date }}
            			               {% endcomment %}
            			            </div>
            			     </div>
        			    
        			    <nav class="navbar navbar-expand-md navbar-light bg-light">
        			        <span class="navbar-text">ギフト包装</span>
        			    </nav>
        			    <div class="form-check offset-1 mt-4">
                            <label class="form-check-label" for="no_gift_wrapping">
                                {% if order_data.gift_wrapping == "False" %}
                                <input class="form-check-input" type="radio" name="{{order_data.gift_wrapping}}" checked="true" value="False" id="no_gift_wrapping" readonly>
                                {% else %}
                                <input class="form-check-input" type="radio" name="{{order_data.gift_wrapping}}" value="False" id="no_gift_wrapping" readonly disabled>
                                {% endif %}
                                不要
                            </label>
                        </div>
        			    <div class="form-check offset-1 mb-4">
                            <label class="form-check-label" for="yes_gift_wrapping">
                                {% if order_data.gift_wrapping == "True" %}
                                <input class="form-check-input" type="radio" name="{{order_data.gift_wrapping}}" checked="true" value="True" id="yes_gift_wrapping" readonly>
                                {% else %}
                                <input class="form-check-input" type="radio" name="{{order_data.gift_wrapping}}" value="True" id="no_gift_wrapping" readonly disabled>
                                {% endif %}
                                要
                            </label>
                        </div>
        			    <nav class="navbar navbar-expand-md navbar-light bg-light">
        			        <span class="navbar-text">その他ご要望</span>
        			    </nav>
        			    <div class="col-md-11 offset-1 mt-4 p-0">
        			    {{ form.request_comment }}
        			    </div>
        			    <div class="col-md-12 text-center mb-5">
    		                    <button type="submit" class="btn_lg btn_gray mb-1">注文内容を確定</button>
    		                    <input name="confirmed" value="true" hidden/>
    		            </div>
                </form>
                <div class="return_link d-flex justify-content-center">
                     <button class="btn" onclick="window.history.back();return false;">＜ 戻る</button>
                </div>
        </div>
    </div>
    </div>
{% endblock %}