{% extends "layouts/default_minimum.html" %}
 
{% block title %}{{ title }}{% endblock %}
 
{% block content %}
    <h1>{{ title }}</h1>
        
        <p>下記フォームに登録メールアドレスをご入力の上、「確認メールを送信する」ボタンを押してください。<br>
           メールアドレス宛に、パスワード再設定メールをお送りいたします。<br>
           パスワード再設定は、メールが届いてから1時間以内にお手続きください。
        </p>
        <p><label>メールアドレス:
        <input type="email" name="email">
        </label>
        </p>
        
        <button type="submit">確認メールを送信する</button>
        <button type="submit">戻る</button>
    </form>
{% endblock %}