{% extends "layouts/default_minimum.html" %}
 
{% block title %}入力内容確認{% endblock %}
 
{% block content %}
    <h1>入力内容確認</h1>

    <table  class="ui celled table table table-hover" >
        <tr><td class="bg-light text-center">ユーザー名</td><td class="pl-5">{{form.username.value}}</td></tr>
        <tr><td class="bg-light text-center">お名前</td><td class="pl-5">{{form.name.value}}</td></tr>
        <tr><td class="bg-light text-center">フリガナ</td><td class="pl-5">{{form.kana.value}}</td></tr>
        <tr><td class="bg-light text-center">住所</td><td class="pl-5">〒{{form.postal_code.value}}　{{form.prefecture.value}}{{form.city.value}}{{form.street_address.value}}{{form.building_name.value}}</td></tr>
        <tr><td class="bg-light text-center">電話番号</td><td class="pl-5">{{form.tel_number.value}}</td></tr>
        <tr>
            <td class="bg-light text-center">性別</td>
            <td class="pl-5">
                {% if form.gender.value == "female" %}
                    女性
                {% elif form.gender.value == "male" %}
　　　　　          男性
　　　　　      {% else %}
　　　　　          未回答
                {% endif %}
            </td>
        </tr>
        <tr><td class="bg-light text-center">生年月日</td><td class="pl-5">{{form.birthdate.value}}</td></tr>
        <tr><td class="bg-light text-center">メールアドレス</td><td class="pl-5">{{form.email.value}}</td></tr>
    </table>
    
    <form action="{% url 'accounts:sign_up' %}" method="POST">
        <!-- 各入力欄に紐付かないエラー -->
        {{ form.non_field_errors }}
 
        <!-- 入力欄の数だけ繰り返し -->
        {% for field in form %}
            {{field.as_hidden}}
        {% endfor %}
        {% csrf_token %}
        <div class="col-md-12 text-center mt-4">
            <button class="btn_lg btn_gray" type="submit" name="next" value="create">登録</button>
        </div>
        <div class="return_link d-flex justify-content-center">
            <button class="btn" type="submit" name="next" value="back">＜ 戻る</button>
        </div>
    </form>
{% endblock %}