{% extends "layouts/default_minimum.html" %}
 
{% block title %}{{ title }}{% endblock %}
 
{% block content %}
    <h1>{{ title }}</h1>
    <form action="{% url 'accounts:sign_up' %}" method="POST">
        <!-- 各入力欄に紐付かないエラー -->
        {{ form.non_field_errors }}
        {% csrf_token %}
         <div class="form-group form-row justify-content-center mt-5">
             <label class="col-md-2 col-form-label text-md-right" for="id_username">ユーザー名</label>
             <div class="col-md-7 ml-3">
                {{ form.username }}
            </div>
        </div>
        <div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_name">お名前</label>
		    <div class="col-md-7 ml-3">
		        {{ form.name }}
		     </div>
		</div>
		<div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_kana">フリガナ</label>
		    <div class="col-md-7 ml-3">
		        {{ form.kana }}
		     </div>
		</div>
		<div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_postal_code">郵便番号</label>
		    <div class="col-md-7 ml-3">
		        {{ form.postal_code }}
		     </div>
		</div>
		<div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_prefecture">都道府県</label>
		    <div class="col-md-7 ml-3">
		        {{ form.prefecture }}
		     </div>
		</div>
		<div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_city">市区町村</label>
		    <div class="col-md-7 ml-3">
		        {{ form.city }}
		     </div>
		</div>
		<div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_street_address">番地</label>
		    <div class="col-md-7 ml-3">
		        {{ form.street_address }}
		    </div>
		</div>
		<div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_building_name">建物名</label>
		    <div class="col-md-7 ml-3">
		        {{ form.building_name }}
		    </div>
		</div>
		<div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_tel_number">電話番号</label>
		    <div class="col-md-7 ml-3">
		        {{ form.tel_number }}
		     </div>
		</div>
		<div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_gender">性別</label>
		    <div class="col-md-7 ml-3">
		        {{ form.gender }}
		     </div>
		</div>
		<div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_birthdate">生年月日</label>
		    <div class="col-md-7 ml-3">
		        {{ form.birthdate }}
		     </div>
		</div>
		<div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_email">メールアドレス</label>
		    <div class="col-md-7 ml-3">
		        {{ form.email }}
		     </div>
		</div>
		<div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_password1">パスワード</label>
		    <div class="col-md-7 ml-3">
		        {{ form.password1 }}
		    </div>
		</div>
		<div class="form-group form-row justify-content-center mt-4">
		    <label class="col-md-2 col-form-label text-md-right" for="id_password2">パスワード(確認)</label>
		    <div class="col-md-7 ml-3">
		        {{ form.password2 }}
		    </div>
		</div>
		<div class="text-center mt-4 mb-4">
			{{ form.privacy_policy_agreement }}
			<span><a href="{% url 'pages:privacy_policy' %}">プライバシーポリシー</a>に同意</span>
		</div>
            
        <p>
            {{ form.errors }}
        </p>
        <div class="col-md-12 text-center">
            <button class="btn_lg btn_gray" type="submit" name="next" value="confirm">入力内容を確認する</button>
        </div>
    </form>
    <div class="return_link d-flex justify-content-center">
         <button class="btn" onclick="window.history.back();return false;">＜ 戻る</button>
    </div>
{% endblock %}