{% extends "layouts/default_minimum.html" %}

{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}
 
{% block content %}
<main>
    <p class="complete_message">問い合わせが完了しました</p>
    <div class="d-flex justify-content-center">
        <a href="{% url 'home' %}">
            <button class="btn_lg btn_white" type="button">トップページへ</button>
        </a>
    </div>
</main>
{% endblock %}