{% extends "layouts/default_home.html" %}
{% block title %}{{ title }}{% endblock %}

{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
{% endblock %}

{% block upper_content %} 

<div class="container-fluid">
    <div class="top_image"> 
        <img src="{% static 'images/top.png' %}" alt="土佐茶畑">
    </div>
</div>
{% endblock %} 
{% block lower_content %}
<main>
    <section class="container top_information">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>INFOMATION</h2>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="">
                    <button class="btn_md btn_white" type="button">クーポンページ</button>
                </a>
            </div>
        </div>
        
        <article>
			<ul class="top_information_items">
			 {% for information in information_list %}
				<li>{{ information.create_date }}　{{ information.body }}</li>
			{% empty %}
                <p>インフォメーションはありません。</p>
			{% endfor %}
			</ul>
		</article>
   
    </section>

    <section class="container">
        <h2>おすすめ商品</h2>
        <div class="row mt-3 justify-content-center recommend_items">
            <div class="col-3 col-md-3 recommend_item">
                <a href="#">
                    <img src="{% static 'images/bancha_00009.jpeg' %}" alt="" class="recommend_item_image">
                </a>
            </div>
            <div class="col-3 col-md-3 recommend_item">
                <a href="#">
                    <img src="{% static 'images/bancha_00009.jpeg' %}" alt="" class="recommend_item_image">
                </a>
            </div>
            <div class="col-3 col-md-3 recommend_item">
                <a href="#">
                    <img src="{% static 'images/bancha_00009.jpeg' %}" alt="" class="recommend_item_image">
                </a>
            </div>
        </div>
        
        <div class="row mt-3 justify-content-center recommend_items">
            {% for item in recommended_items %}
                <div class="col-3 mb-4">
                    <div>   
                        {% if item.item_images %}
                            {% with item.item_images.all.0 as image %}
                                <a href="{% url 'items:item_detail' item.id %}">
                                    <img class="item_image img-fluid rounded" src="{{ image.image.url }}">
                                </a>
              
                                <div class="row mx-auto">
                                    <div class="col-6 ml-auto">
                                        <div class="row">
                                            <a href="{% url 'items:item_detail' item.id %}">
                                                <span>{{ item.name }}</span>
                                            </a>
                                        </div>
                                        <div class="row">
                                            <span>{{ item.price }}円(税込)</span>
                                        </div>
                                    </div>
                                    <div class="col-6 ml-auto">
                                        <div class="row">
                                            <span class="border rounded bg-light">
                                                {% if item.taste %}
                                                    {{ item.tea_type }}
                                                {% else %}
                                                    {{ item.item_type }}
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="row">
                                            <span class="border rounded bg-light">
                                                {% if item.taste %}
                                                    {{ item.taste }}
                                                {% else %}
                                                    {{ item.occasion }}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% else %}
                            <img class="item_image" src="{% static 'images/no_image.jpg' %}">
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>おすすめ商品準備中</p>
            {% endfor %}
        </div>

		
    </section>

    <section class="container">
        <h2>商品を探す</h2>
        <div class="item_search_container">
            <div class="row">
                <div class="col-12 col-lg-2 offset-lg-1 search_item">
                お茶の種類から探す
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?tea_type_filter=煎茶">
                        <span>煎茶</span>
                        <img src="{% static 'images/bancha_00009.jpeg' %}" alt="煎茶" class="search_image">
                    </a>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?tea_type_filter=玉露">
                        <span>玉露</span>
                        <img src="{% static 'images/bancha_00009.jpeg' %}" alt="玉露" class="search_image">
                    </a>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?tea_type_filter=ほうじ茶">
                         <span>ほうじ茶</span>
                        <img src="{% static 'images/bancha_00009.jpeg' %}" alt="ほうじ茶" class="search_image">
                    </a>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-lg-2 offset-lg-1 pt-3 search_item">
                    <P>利用シーンから探す</P>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?occasion_filter=ご自宅用"> 
                        <span>自宅用</span>
                        <img src="{% static 'images/bancha_00009.jpeg' %}" alt="自宅用" class="search_image">
                    </a>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?occasion_filter=お土産">
                        <span>お土産</span>
                        <img src="{% static 'images/bancha_00009.jpeg' %}" alt="お土産" class="search_image">
                    </a>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?occasion_filter=贈答品">
                         <span>贈答用</span>
                        <img src="{% static 'images/bancha_00009.jpeg' %}" alt="贈答用" class="search_image">
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-lg-2 offset-lg-1 pt-3 search_item">
                    <p>価格帯から探す</p>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?price_filter=less_than_1000">
                        <span>1,000円以下</span>
                        <img src="{% static 'images/bancha_00009.jpeg' %}" alt="1,000円以下" class="search_image">
                    </a>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?price_filter=less_than_5000">
                        <span>5,000円以下</span>
                        <img src="{% static 'images/bancha_00009.jpeg' %}" alt="1,000～5,000円" class="search_image">
                    </a>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?price_filter=more_than_5000">
                         <span>5,000円以上</span>
                        <img src="{% static 'images/bancha_00009.jpeg' %}" alt="5,000円以上" class="search_image">
                    </a>
                </div>
            </div>
        </div>    
            <div class="d-flex justify-content-center">
                <a href="{% url 'items:index' %}">
                    <button class="btn_lg btn_white" type="button">商品一覧ページへ</button>
                </a>
            </div>
    </section>
    
    <section class="container banner">
        <div class="row mt-3 justify-content-center">
            <div class="col-6 col-md-5 mt-3">
                <h3>好み診断</h3>
                <a href="#">
                    <img src="{% static 'images/bancha_00009.jpeg' %}" alt="好み診断" class="banner_image">
                </a>
            </div>
            <div class="col-6 col-md-5 mt-3">
                <h3>土佐茶とは</h3>
                <a href="#">
                    <img src="{% static 'images/bancha_00009.jpeg' %}" alt="土佐茶とは" class="banner_image">
                </a>
            </div>
        </div>
    </section>
    
    <section class="container">
    <h2>動画</h2>
        <div class="video_container">
            <video class="tea_video"  width="900" height="500" controls>
                <source src="#" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>
</main> 
{% endblock %}