{% extends "layouts/default_home.html" %}
{% block title %}{{ title }}{% endblock %}

{% load static %}
{% load humanize %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block upper_content %} 
<div class="container-fluid">
    <div class="top_video">
        <video id="myVideo" autoplay muted>
            <source src="{% static 'videos/top_video.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="text-overlay">
            <div class="overlay_main">
                <h1 class="top_title">Welcome to 土佐金色透茶堂</h1>
                <p class="top_message">Discover the beauty of Tosa tea fields</p>
            </div>
            <div class="overlay_annotation">
                <small class="top_annotation">高知県津野町の茶畑(提供：LIFEisPHOTO)</small>
            </div>
            <button id="toggleButton" onclick="toggleVideo()">
                <i class="fas fa-pause"></i> 
            </button>
        </div>
    </div>
</div>

{% endblock %} 
{% block lower_content %}
<main>
    <section class="container top_information">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>お知らせ</h2>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="{% url 'items:coupon_info' %}">
                    <button class="btn_md btn_white" type="button">クーポン情報ページ</button>
                </a>
            </div>
        </div>
        
        <article>
			<ul class="top_information_items">
			 {% for information in information_list %}
				<li>{{ information.create_date }}　{{ information.body }}</li>
			{% empty %}
                <p>インフォメーションはありません。</p>
			{% endfor %}
			</ul>
		</article>
   
    </section>

    <section class="container">
        <h2>おすすめ商品</h2>
        <div class="row mt-3 justify-content-center recommend_items">
            {% for item in recommended_items %}
                <div class="col-3 mb-4">
                    <div class="recommend_item">   
                        {% if item.item_images %}
                            {% with item.item_images.all.0 as image %}
                            <figure>
                                <a href="{% url 'items:item_detail' item.id %}">
                                    <img class="recommend_item_image img-fluid rounded" src="{{ image.image.url }}">
                                </a>
                                <div class="item_tag_row">
                                    <span class="item_tag">
                                        {% if item.taste %}
                                            {{ item.tea_type }}
                                        {% else %}
                                            {{ item.item_type }}
                                        {% endif %}
                                    </span>    
                                    <span class="item_tag">
                                        {% if item.taste %}
                                            {{ item.taste }}
                                        {% else %}
                                            {{ item.occasion }}
                                        {% endif %}
                                    </span>
                                </div>    
                                <figcaption>
                                    <div class="recommend_item_name">
                                        <a href="{% url 'items:item_detail' item.id %}">
                                            <small>{{ item.name }}</small>
                                        </a>
                                        <small>{{ item.price | intcomma }}円(税込)</small>
                                    </div>
                                </figcaption>
                            </figure>
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>おすすめ商品準備中</p>
            {% endfor %}
        </div>
    </section>

    <section class="container">
        <h2>商品を探す</h2>
        <div class="item_search_container">
            <div class="row">
                <div class="col-12 col-lg-2 offset-lg-1 search_item">
                    <p>お茶の種類から探す</p>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?tea_type_filter=煎茶" class="search_item_link">
                        <div class="image-container">
                            <div class="overlay">
                                <span class="category_text"> 煎　茶 </span>
                            </div>
                            <img src="{% static 'images/top/sencha.jpg' %}" alt="煎茶" class="search_image">
                        </div>
                    </a>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?tea_type_filter=玉露" class="search_item_link">
                        <div class="image-container">
                            <div class="overlay">
                                <span class="category_text"> 玉　露 </span>
                            </div>
                            <img src="{% static 'images/top/gyokuro.jpeg' %}" alt="玉露" class="search_image">
                        </div>
                    </a>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?tea_type_filter=ほうじ茶" class="search_item_link">
                        <div class="image-container">
                            <div class="overlay">
                                <span class="category_text">ほうじ茶</span>
                            </div>
                            <img src="{% static 'images/top/hojicha.jpg' %}" alt="ほうじ茶" class="search_image">
                        </div>    
                    </a>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 col-lg-2 offset-lg-1 pt-3 search_item">
                    <P>利用シーンから探す</P>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?occasion_filter=ご自宅用" class="search_item_link">
                        <div class="image-container">
                            <div class="overlay">                        
                                <span class="category_text">自 宅 用</span>
                            </div>
                            <img src="{% static 'images/top/gyokuro_00024.jpeg' %}" alt="自宅用" class="search_image">
                        </div>
                    </a>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?occasion_filter=お土産" class="search_item_link">
                        <div class="image-container">
                            <div class="overlay">
                                <span class="category_text">お 土 産</span>
                            </div>
                            <img src="{% static 'images/top/gift_box_00002.jpeg' %}" alt="お土産" class="search_image">
                        </div>
                    </a>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?occasion_filter=贈答品" class="search_item_link">
                        <div class="image-container">
                            <div class="overlay">
                                <span class="category_text">贈 答 用</span>
                            </div>
                            <img src="{% static 'images/top/gift_box_00014.jpeg' %}" alt="贈答用" class="search_image">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-lg-2 offset-lg-1 pt-3 search_item">
                    <p>価格帯から探す</p>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?price_filter=less_than_1000" class="search_item_link">
                        <div class="image-container">
                            <div class="overlay">
                                <span class="category_text">1,000円以下</span>
                            </div>
                            <img src="{% static 'images/top/washi_yellow.jpg' %}" alt="1,000円以下" class="search_image">
                        </div>
                    </a>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?price_filter=less_than_5000" class="search_item_link">
                        <div class="image-container">
                            <div class="overlay">
                                <span class="category_text">5,000円以下</span>
                            </div>
                            <img src="{% static 'images/top/washi_brown.jpg' %}" alt="1,000～5,000円" class="search_image">
                        </div>
                    </a>
                </div>
                <div class="col-3 col-lg-2 search_item">
                    <a href="{% url 'items:index' %}?price_filter=more_than_5000" class="search_item_link">
                        <div class="image-container">
                            <div class="overlay">
                                <span class="category_text">5,000円以上</span>
                            </div>
                            <img src="{% static 'images/top/washi_green.jpg' %}" alt="5,000円以上" class="search_image">
                        </div>
                    </a>
                </div>
            </div>
        </div>    
            <div class="d-flex justify-content-center">
                <a href="{% url 'items:index' %}">
                    <button class="btn btn_lg btn_white" type="button">商品一覧ページへ</button>
                </a>
            </div>
    </section>
    
    <section class="container banner">
        <div class="row mt-3 justify-content-center">
            <div class="col-6 col-md-5 mt-3">
                <h3 class="font-weight-bold">好み診断</h3>
                <a href="#">
                    <img src="{% static 'images/top/preference_question.jpg' %}" alt="好み診断" class="banner_image">
                </a>
            </div>
            <div class="col-6 col-md-5 mt-3">
                <h3 class="font-weight-bold">土佐茶とは</h3>
                <a href="{% url 'pages:tosacha' %}">
                    <img src="{% static 'images/top/tea_00015.jpg' %}" alt="土佐茶とは" class="banner_image">
                </a>
            </div>
        </div>
    </section>
    
    <!--<section class="container">-->
    <!--    <div class="video_container">-->
    <!--        <video class="tea_video"  width="900" height="500" controls>-->
    <!--            <source src="#" type="video/mp4">-->
    <!--            Your browser does not support the video tag.-->
    <!--        </video>-->
    <!--    </div>-->
    <!--</section>-->
</main>

<script>
    // ページロード時に実行
    document.addEventListener("DOMContentLoaded", function () {
        var video = document.getElementById("myVideo");
        // 3秒後にテキストを表示する
        setTimeout(function () {
            var textOverlay = document.querySelector(".text-overlay");
            textOverlay.classList.add("show");
        }, 5000);
    });

    // ビデオとボタン
    function toggleVideo() {
        var video = document.getElementById("myVideo");
        var button = document.getElementById("toggleButton");
        
        if (video.paused) {
            video.play();
            button.innerHTML = '<i class="fas fa-pause"></i>'; 
        } else {
            video.pause();
            button.innerHTML = '<i class="fas fa-play"></i>'; 
        }
    }
</script>
{% endblock %}