{% extends "layouts/default_home.html" %}
{% block title %}{{ title }}{% endblock %}

{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/tosatea.css' %}">
{% endblock %}

{% block upper_content %} 
 <!--カルーセル -->
<div class="container-fluid">
    <div id="cl" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner"> 
            <div class="carousel-item active"><img src="{% static 'images/top.png' %}" class="carousel-image"></div>
            <div class="carousel-item"><img src="{% static 'images/top2.jpg' %}" class="carousel-image"></div>
            <div class="carousel-item"><img src="{% static 'images/top3.jpeg' %}" class="carousel-image"></div>
        </div>
        <a class="carousel-control-prev" href="#cl" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#cl" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
{% endblock %} 
{% block lower_content %}

{% endblock %}