{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
{% endblock %}

<header>
    <nav class="navbar">
        <h1 class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="ロゴ"></a>
        </h1>
        <ul class="header_user_actions">
            <li>
                {% if user.is_authenticated %}
                    <strong class="ml-2">{{ request.user.username }}様</strong>
                    <form method="POST" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button class="border-0 bg-transparent" type="submit">ログアウト</button>
                    </form>
                {% else %}
                    <a href="{% url 'accounts:login' %}?next={{request.path}}"><p>ログイン</p></a>
                {% endif %}
            </li>
            <li>
                {% if request.user.is_superuser %}
                <a href="{% url 'items:admin' %}">
                    <button class="btn_gray btn_sm">管理画面</button>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>
     {% include 'includes/modal.html' %}
    <script>
        // ログイン状態をJavaScriptに渡す
        var isAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
        
        function showLoginModal() {
            // ログインしていない場合はモーダルを表示
            if (!isAuthenticated) {
                $('#loginModal').modal('show');
                return false;  // リンクをクリックしてもページ遷移をしない
            }
            return true;  // ログインしている場合は通常の動作を続行
        }
    </script>
</header>
