{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
{% endblock %}

<footer>
    <nav class="navbar navbar_box navbar-expand-md footer_container">
        <ul class="navbar-nav mx-auto footer_nav">
            <li class="footer_item"><a href="{% url 'items:admin' %}" class="navbar_link">管理ページトップ</a></li>
            <li class="footer_item"><a href="{% url 'items:item_management' %}" class="navbar_link">商品管理</a></li>
            <li class="footer_item"><a href="{% url 'items:image_list' %}" class="navbar_link">画像管理</a></li>
            <li class="footer_item"><a href="#" class="navbar_link">クーポン管理</a></li>
            <li class="footer_item"><a href="{% url 'items:information_list' %}" class="navbar_link">お知らせ管理</a></li>
            <!--<li class="footer_item"><a href="#" class="navbar_link">お問合せ</a></li>-->
        </ul>
    </nav>
    <div class="copylight_container">
        <small>土佐金色透茶堂-Mountain Retreat Essence&nbsp;&copy;All&nbsp;Rights&nbsp;Reserved</small>
    </div>
</footer>
