{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
{% endblock %}

<header>
    <nav class="navbar">
        <h1 class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="ロゴ"></a>
        </h1>
        <ul class="header_user_actions">
             {% if request.user.is_superuser %}
            <li>
                <a href="{% url 'items:admin' %}">
                    管理画面
                </a>
            </li>
            {% endif %}
            <li>
                {% if user.is_authenticated %}
                    <p>{{ request.user.username }}様</p>
                    <a href="{% url 'accounts:logout' %}"><p>ログアウト</p></a>
                {% else %}
                    <a href="{% url 'accounts:login' %}?next={{request.path}}"><p>ログイン</p></a>
                {% endif %}
            </li>
        </ul>
    </nav>
    
    <!--モーダル-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">ログインしてください</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <button class="btn btn_lg btn_white">
                        <a href="{% url 'accounts:login' %}" >ログイン</a>
                    </button>
                    <button type="button" class="btn btn_lg btn_gray" data-dismiss="modal">閉じる</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        // ログイン状態をJavaScriptに渡す
        var isAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
    
        function showLoginModal() {
            // ログインしていない場合はモーダルを表示
            if (!isAuthenticated) {
                $('#loginModal').modal('show');
                return false;  // リンクをクリックしてもページ遷移をしない
            }
            return true;
        }
    </script>
</header>
