<footer class="container-fluid">
    <nav class="footer_row">
        <ul class="footer_nav">
            <li>
                <a href="#">ホーム</a>
            </li>
            <li>
                <a href="#">土佐茶とは</a>
            </li>
            <li>
                <a href="#">商品一覧</a>
            </li>
            <li>
                <a href="#">プライバシーポリシー</a>
            </li>
            <li>
                <a href="#">お問合せ</a>
            </li>
        </ul>
    </nav>
    <div class="copylight_container">
        <small>土佐金色透茶堂-Mountain Retreat Essence&nbsp;&copy;All&nbsp;Rights&nbsp;Reserved</small>
    </div>
</footer>
