{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
{% endblock %}

<footer class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-light"style="background-color: #F5DEB3">
 
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav mx-auto">
              　 <li class="nav-item"><a href="#" class="nav-link" style="color: #000000">ホーム</a></li>
              　 <li class="nav-item"><a href="#" class="nav-link" style="color: #000000">土佐茶とは</a></li>
              　 <li class="nav-item"><a href="#" class="nav-link" style="color: #000000">商品一覧</a></li>
              　 <li class="nav-item"><a href="#" class="nav-link" style="color: #000000">プライバシーポリシー</a></li>
              　 <li class="nav-item"><a href="#" class="nav-link" style="color: #000000">お問合せ</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="copylight_container">
        <small>土佐金色透茶堂-Mountain Retreat Essence&nbsp;&copy;All&nbsp;Rights&nbsp;Reserved</small>
    </div>
</footer>
