{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
{% endblock %}

<footer>
    <nav class="navbar navbar_box navbar-expand-md footer_container">
        <ul class="navbar-nav mx-auto footer_nav">
            <li class="footer_item"><a href="{% url 'home' %}" class="navbar_link">ホーム</a></li>
            <li class="footer_item"><a href="{% url 'pages:tosacha' %}" class="navbar_link">土佐茶とは</a></li>
            <li class="footer_item"><a href="{% url 'items:index' %}" class="navbar_link">商品一覧</a></li>
            <li class="footer_item"><a href="{% url 'items:coupon_info' %}" class="navbar_link">クーポン情報</a></li>
            <li class="footer_item"><a href="{% url 'pages:privacy_policy' %}" class="navbar_link">プライバシーポリシー</a></li>
            <li class="footer_item"><a href="{% url 'pages:contact' %}" class="navbar_link">お問合せ</a></li>
        </ul>
    </nav>
    <div class="copylight_container">
        <small>土佐金色透茶堂-Mountain Retreat Essence&nbsp;&copy;All&nbsp;Rights&nbsp;Reserved</small>
    </div>
</footer>
