<header>
    <div class="container">
        <ul class="header_nav">
            <li>
                <a href="{% url 'items:index' %}">
                    トップ
                </a>
            </li>
            <li>
                <a href="{% url 'accounts:detail' 1 %}">
                    自分のプロフィール
                </a>
            </li>
            <li>
                <a href="{% url 'items:create' %}">
                    商品の新規追加
                </a>
            </li>
            <li>
                <a href="{% url 'items:carts' %}">
                    カート一覧
                </a>
            </li>
            <li>
                <a href="{% url 'accounts:logout' %}">
                    ログアウト
                </a>
            </li>
        </ul>
    </div>
</header>
