{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/header_footer.css' %}">
{% endblock %}

<header>
    <nav class="navbar">
        <h1 class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="ロゴ"></a>
        </h1>
        <ul class="header_user_actions">
            <li>
                {% if user.is_authenticated %}
                    <p>{{ request.user.username }}様</p>
                {% else %}
                    <a href="{% url 'accounts:login' %}"><p>ログイン</p></a>
                {% endif %}
            </li>
            <li><a href=""><img src="{% static 'images/icon/mypage_icon.png' %}" alt="マイページ"></a></li>
            <li><a href=""><img src="{% static 'images/icon/favorite_icon.png' %}" alt="お気に入りリスト"></a></li>
            <li><a href="{% url 'items:carts' %}"><img src="{% static 'images/icon/cart_icon.png' %}" alt="カート"></a></li>
        </ul>
    </nav>
</header>
