{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">

{% endblock %}

<header>
    <nav class="navbar">
        <h1 class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="ロゴ"></a>
        </h1>
        <ul class="header_user_actions">
            <li>
                {% if user.is_authenticated %}
                    <strong class="ml-2">{{ request.user.username }}様</strong>
                    <form method="POST" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <button class="border-0 bg-transparent" type="submit">ログアウト</button>
                    </form>
                    
                {% else %}
                    <a href="{% url 'accounts:login' %}?next={{request.path}}"><p>ログイン</p></a>
                {% endif %}
            </li>
            <li>
                {% if request.user.is_superuser %}
                <a href="{% url 'items:admin' %}">
                    <button class="btn_gray btn_sm">管理画面</button>
                </a>
                {% endif %}
            </li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'accounts:mypage' %}">
                        <img src="{% static 'images/icon/mypage_icon.png' %}" alt="マイページ">
                    </a>
                {% else %}
                    <a onclick="showLoginModal();">
                        <img src="{% static 'images/icon/mypage_icon.png' %}" alt="マイページ">
                    </a>                
                {% endif %}
            </li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'items:favorite_list' %}">
                        <img src="{% static 'images/icon/favorite_icon.png' %}" alt="お気に入りリスト">
                    </a>
                {% else %}
                    <a onclick="showLoginModal();">
                        <img src="{% static 'images/icon/favorite_icon.png' %}" alt="お気に入りリスト">
                    </a>                
                {% endif %}
            </li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'items:carts'%}">
                        <img src="{% static 'images/icon/cart_icon.png' %}" alt="カート">
                    </a>
                {% else %}
                    <a onclick="showLoginModal();">
                        <img src="{% static 'images/icon/cart_icon.png' %}" alt="カート">
                    </a>                
                {% endif %}
            </li>
        </ul>
    </nav>
    
    <nav class="navbar navbar_box navbar-expand-md">
        <button class="navbar-toggler float-right" data-toggle="collapse" data-target="#headerNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="headerNav">
            <ul class="navbar-nav mx-auto header_nav">
              　 <li class="header_item"><a href="{% url 'items:index' %}?item_type_filter=お茶" class="navbar_link">お茶</a></li>
              　 <li class="header_item"><a href="{% url 'items:index' %}?item_type_filter=お菓子" class="navbar_link">お菓子</a></li>
              　 <li class="header_item"><a href="{% url 'items:index' %}?item_type_filter=茶器" class="navbar_link">茶器</a></li>
              　 <li class="header_item"><a href="{% url 'items:index' %}?item_type_filter=ギフト" class="navbar_link">ギフトセット</a></li>
            </ul>

            <form class="form-inline" action="{% url 'items:index' %}" method="get">
                <div class="form-group">
                    {{ item_search_form.as_p }}
                </div>
                <button type="submit" class="btn btn-secondary btn-sm">検索</button>
            </form>
        </div>
    </nav>
    {% include 'includes/modal.html' %}

    <script>
            // ログイン状態をJavaScriptに渡す
            var isAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
    
            // ログインモーダル表示の関数
            function showLoginModal() {
                // ログインしていない場合はモーダルを表示
                if (!isAuthenticated) {
                    $('#loginModal').modal('show');
                    return false;  // リンクをクリックしてもページ遷移をしない
                }
                return true;  // ログインしている場合は通常の動作を続行
            }
    </script>
</header>

