{% extends "layouts/default.html" %}
 
{% block title %}{{ title }}{% endblock %}

{% block additional_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/mypage.css' %}">
{% endblock %} 

{% block content %}
    <h1>{{ title }}</h1>
     <form action="{% url 'review:create' %}" method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button class="button is-primary" type="submit">投稿</button>
    </form>
{% endblock %}