{% extends "layouts/default.html" %}
 
{% block title %}{{ title }}{% endblock %}
 
{% block content %}
    {% include 'includes/logged_in_header.html' %}

    <a href="{% url 'items:create' %}">新規追加</a><br>
    <a href="{% url 'items:image_list' %}">画像一覧</a>

	<table class="item_table">
		<thead>
			<tr>
				<th>名前</th>
				<th>価格</th>
				<th>公開フラグ</th>
				<th>在庫数</th>
				<th>詳細情報</th>
				<th>商品タイプ</th>
				<th>利用場面</th>
				<th>お茶タイプ</th>
				<th>テイスト</th>
				<th>生産地</th>
				<th>画像</th>
				<!--<th>画像２</th>-->
				<!--<th>画像3</th>-->
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		    {% for item in items %}
			<tr>
				<td>{{ item.name }}</td>
				<td>{{ item.price }}</td>
				<td>{{ item.status }}</td>
				<td>{{ item.stock }}</td>
				<td>{{ item.description }}</td>
				<td>{{ item.item_type }}</td>
				<td>{{ item.occasion }}</td>
				<td>{{ item.tea_type }}</td>
				<td>{{ item.taste }}</td>
				<td>{{ item.area }}</td>
				<!--<td>-->
				<!--    {% if item.image %}-->
    <!--                    <img class="img-fluid" src="{{ item.image.url }}">-->
    <!--                {% else %}-->
    <!--                    <img src="images/no_image.png">-->
    <!--                {% endif %}-->
				<!--</td>-->
				<!--<td>-->
				<!--    {% if item.second_image %}-->
    <!--                    <img class="img-fluid" src="{{ item.second_image.url }}">-->
    <!--                {% else %}-->
    <!--                    <img src="images/no_image.png">-->
    <!--                {% endif %}-->
				<!--</td>-->
				<td>
				    {% if item.item_images %}
				    	{% for image in item.item_images.all %}
				    		<p>{{image.name}}</p>
                        	<img class="item_image img-fluid" src="{{ image.image.url }}">
                        {% endfor %}
                    {% else %}
                        <img src="images/no_image.png">
                    {% endif %}
				</td>
				<td>
				    <a href="{% url 'items:update' item.id %}">
                      編集
                    </a>
					<form method="POST" action="{% url 'items:delete' item.id %}">
					    {% csrf_token %}
                        <input type="submit" value="削除" >
                    </form>
				</td>
			</tr>
			{% empty %}
                <p>商品はありません。</p>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}