{% extends "layouts/default_admin.html" %}

{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main>
    <h1>{{ title }}</h1>
    
    <div class="row container mypage_container">
        <div class="mypage_item col-4">
            <a href="{% url 'items:item_management' %}">商品管理</a>
        </div>
        <div class="mypage_item col-4">
            <a href="{% url 'items:image_list' %}">画像管理</a>
        </div>
        <div class="mypage_item col-4">
            <a href="{% url 'items:coupon_list' %}">クーポン管理</a>
        </div>
        <div class="mypage_item col-4">
            <a href="{% url 'items:information_list' %}">お知らせ管理</a>
        </div>
        <div class="mypage_item col-4">
            <a href="{% url 'pages:contact_list' %}">お問合せ管理</a>
        </div>
    </div>

    <div class="return_link d-flex justify-content-center mt-3">
    	<button class="btn" onclick="window.history.back();return false;">＜ 戻る</button>
    </div>
</main>
{% endblock %}