{% extends "layouts/default.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}
 
{% block content %}
    <h1 class="m-0">{{ title }}</h1>
        <table class="admin_table">
            {% for coupon in coupon_list %}
            <tr>
                <td>
                    <img class="coupon-image" src="{% static 'images/coupon.png' %}" alt="Coupon Image">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="large-text">クーポンコード&nbsp;&nbsp;&nbsp;&nbsp;{{ coupon.code }}<br>
                    <span class="large-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    税抜合計価格から10%off</span>
                </td>
            </tr>
                {% empty %}
                    <td colspan="2">クーポンはありません</td>
    			{% endfor %}
    	</table>
    </div>
    <div class="return_link d-flex justify-content-center mt-3">
        <a class="text-center" href="{% url 'items:index' %}">
            <button class="btn_lg btn_white mt-1">商品を探す</button>
        </a>
    </div>
    <div class="return_link d-flex justify-content-center mt-3">
        <button class="btn" onclick="window.history.back();return false;">＜ 戻る</button>
    </div>
{% endblock %}