{% extends "layouts/default.html" %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}
 
{% block content %}
    <h1 class="m-0">{{ title }}</h1>
        <table class="admin_table">
            {% for coupon in coupon_list %}
            <tr>
                <td>クーポンコード</td>
                <td>{{ coupon.code }}</td>
            </tr>
            <tr>
                <td colspan="2">税抜合計価格から10%off</td>
            </tr>
                {% empty %}
                    <td colspan="2">クーポンはありません</td>
    			{% endfor %}
    	</table>
    </div>
    <div class="return_link d-flex justify-content-center mt-3">
        <a class="text-center" href="{% url 'items:index' %}">
            <button class="btn_lg btn_white mt-1">商品を探す</button>
        </a>
    </div>
    <div class="return_link d-flex justify-content-center mt-3">
        <button class="btn" onclick="window.history.back();return false;">＜ 戻る</button>
    </div>
{% endblock %}