{% extends "layouts/default.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}


{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/review.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="container contents">
		<h1>{{ title }}</h1>
		<div class="row">
			<div class="col-12">
			{% for favorite in favorites %}
				<div class="card item">
					<div class="row item_row">
						<div class="col-3 item_figure">
							{% with favorite.item.item_images.all.0 as first_image %}
                       			<img class="rounded img-fluid auto" src="{{ first_image.image.url }}">
                    		{% endwith %}
                            <form method="POST" action="{% url 'items:delete_favorite' favorite.id %}">
	    						{% csrf_token %}
	    						<input type="submit" value="削除" >
                			</form>
						</div>
						<div class="col-5 item_description">
							<dl>
                                <dt>{{ favorite.item.name }}</dt>
                                <dd>{{ favorite.item.description }}</dd>
                             </dl>
                        </div>
                        <div class="col-4 item_description">
                    		<dl>
                                <dt>税込価格</dt>
                                <dd>{{ favorite.item.price | intcomma }}円
                                	<small>(内税{{ favorite.item.tax_percent }}%)</small>
                                </dd>
                            </dl>
						</div>
					</div>
				</div>
			{% empty %}
            	<p class="text-center mt-5 mb-3">お気に入り商品はありません。</p>
			{% endfor %}
			</div>
		</div>
		<div class="d-flex justify-content-center">
            <a href="{% url 'items:index' %}">
                <button class="btn_lg btn_white" type="button">商品をさがす</button>
            </a>
        </div>

		<div class="return_link d-flex justify-content-center">
        	<a href="" onclick="window.history.back();return false;">＜ 戻る</a>
    	</div>
    </div>	
</main>
<!--<script src="{% static 'js/favorite_add.js' %}"></script>-->
{% endblock %}
