{% extends "layouts/default_minimum.html" %}
 
{% block title %}{{ title }}{% endblock %}
 
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-md-between">
            <h1 class="m-0">{{ title }}</h1>
            <a class="btn btn-secondary btn-sm mb-1" href="{% url 'items:create_image' %}">新規追加</a>
        </div>
        
        {% if image_list %}
    	    <div class = "item_main">
    	    {% for image in image_list %}
    	        <div>
                    <img class="item_image img-fluid" src="{{ image.image.url }}">
                    <form method="POST" action="{% url 'items:delete_image' image.pk %}">
        				{% csrf_token %}
        				<a class="btn btn-secondary btn-sm mb-1" href="{% url 'items:update_image' image.pk %}">
                          編集
                        </a>
                        <button class="btn-white btn-sm mb-1" type="submit">削除</button>
                        <!--<input type="submit" value="削除" >-->
                    </form>
    	        </div>
            {% endfor %}
    	    </div>
        {% else %}
            <p>画像はありません。</p>
        {% endif %}
        {% include "includes/pagination.html" %}
        <div class="return_link d-flex justify-content-center mt-3">
               	<button class="btn" onclick="window.history.back();return false;">＜ 戻る</button>
        </div>
    </div>
{% endblock %}