{% extends "layouts/default.html" %}
 
{% block title %}{{ title }}{% endblock %}
 
{% block content %}
    {% include 'includes/logged_in_header.html' %}
        <div class="container-fluid contents">
            <div class="row">
                <div class="col-5 offset-1 mb-5">
                    {% with item.item_images.all.0 as first_image %}
                       <img class="rounded img-fluid auto" src="{{ first_image.image.url }}">
                    {% endwith %}
            	</div>
                <div class="col-6 mb-5">
                    <div class = "row">
                        <div class="d-flex flex-row bd-highlight mb-5">
                             {% for image in item.item_images.all %}
                			     {%if forloop.first %}
                                 {% else %}
                            		 <div id="gallery">
                            			 <img class="justify-content-start rounded" src="{{ image.image.url }}">
                            		</div>
                            	{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                         <div>               
                            <h2 class="font-weight-bold">{{ item.name }}</h2>
                            <p>{{ item.description }}</p>
                            <p class="text-right">税込{{ item.price }}円</p>
                            <p class="text-right">送料：無料</p>
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-center">個数</p>
                                </div>
                                <div class="col-sm mr-auto ml-auto">
                                    <div class="spinner-container">
                                        <span class="spinner-sub disabled">-</span>
                                        <input class="spinner" type="number" min="0" max="50" value="0">
                                        <span class="spinner-add">+</span>
                                    </div>
                                </div>
                                <button type="submit" class="col-sm btn btn-sm btn-success" name="button">
                                <a href="{% url 'items:add_item' %}"
                                カートに入れる<i class="fas fa-shopping-cart"></i>
                                </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 offset-1 mt-5 mb-5">
                    <h3>産地情報等</h3>
                    <p>{{item.area.description}}</p>
                </div>
                <div class="col-6 mt-5 mb-5">
                    <img class="rounded img-fluid auto" src="{{ item.area.area_image.url }}">
                </div>
            </div>
            <div class="row">
                <div class="col-5 offset-1 mt-5">
                    <h3>レビュー</h3>
                </div>
                <div class="col-6 mt-5">
                    <p>口コミ口コミ口コミ</p>
                </div>
            </div>
                    
            
        </div>
        {% load static %}
        <script src="{% static 'js/spinner_script.js' %}"></script>
            
        
{% endblock %}
