{% extends "layouts/default.html" %}
 
{% block title %}{{ title }}{% endblock %}
 
{% block content %}
        <div class="container contents">
            <div class="row">
                <div class="col-5 offset-1 mb-5">
                    {% with item.item_images.all.0 as first_image %}
                       <img class="rounded img-fluid auto" src="{{ first_image.image.url }}">
                    {% endwith %}
            	</div>
                <div class="col-6 mb-5">
                    <div class="row">
                        <div class="d-flex flex-row bd-highlight mb-5">
                             {% for image in item.item_images.all %}
                			     {%if forloop.first %}
                                 {% else %}
                            		 <div id="gallery">
                            			 <img class="justify-content-start rounded" src="{{ image.image.url }}">
                            		</div>
                            	{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-12">               
                            <h2 class="font-weight-bold">{{ item.name }}</h2>
                            <p>{{ item.description }}</p>
                            <div class="text-right">税抜価格{{ item.price }}円</div>
                            <div class="text-right">消費税○円</div>
                            <p class="text-right">税込価格○○円</p>
                            <div class="row">
                                <div class="col-12 d-flex flex-row justify-content-end">
                                    <p class="text-right mr-2">個数</p>
                                        
                                    <form method="post" action="{% url 'items:add_item' item.pk %}">
                                        {% csrf_token %}
                                        <div class="col-sm d-flex flex-row justify-content-end px-0">
                                            <div class="spinner-container">
                                                <span class="spinner-sub disabled">-</span>
                                                <input class="spinner" type="number" min="1" max="50" value="1" name="amount">
                                                <span class="spinner-add">+</span>
                                            </div>
                                            <button type="submit" class="btn btn-secondary ml-2" name="button">
                                            カートに入れる
                                            </button> 
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 offset-1 mt-5 mb-5">
                    <h3>産地情報等</h3>
                    <p>{{item.area.description}}</p>
                </div>
                <div class="col-6 mt-5 mb-5">
                    <img class="rounded img-fluid auto" src="{{ item.area.area_image.url }}">
                </div>
            </div>
            <div class="row">
                <div class="col-5 offset-1 mt-5">
                    <h3>レビュー</h3>
                </div>
                <div class="col-6 mt-5">
                    <p>口コミ口コミ口コミ</p>
                </div>
            </div>
        </div>
        {% load static %}
        <script src="{% static 'js/spinner_script.js' %}"></script>
{% endblock %}
