{% extends "layouts/default.html" %}
{% load static %}
{% load humanize %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
		<h2>商品を絞り込む</h2>
	    {% include "includes/filter.html" %}
	    
		<h2>商品一覧</h2>
		<div class="row">
			{% for item in item_list %}
				<div class="col-3 mb-4">
					<ul class="item_upper_icons">
		                <!-- お気に入り追加 -->
		                <li class="item_favorite_icon" >
				            {% if user.is_authenticated %}
				            	<form id="FavoriteForm{{ item.id }}" method="post" action="{% url 'items:favorite_add' item.id %}">
				            		{% csrf_token %}
				            		<a onclick="submitFavoriteForm(event);">
						                <img src="{% static 'images/icon/favorite_icon.png' %}" alt="お気に入り">
						            </a>
				             	</form> 
							{% else %}
				                <a onclick="showLoginModal();">
				                    <img src="{% static 'images/icon/favorite_icon.png' %}" alt="お気に入り">
				                </a>                
				            {% endif %}
				         </li>
			             <!-- カート追加 -->
			             <li class="item_cart_icon">
				             {% if user.is_authenticated %}
					             <form id="CartForm" method="post" action="{% url 'items:add_item' item.id %}">
					                <a onclick="addCart('{{ item.id }}')">
					                    <img src="{% static 'images/icon/cart_icon.png' %}" alt="カート">
					                </a>
					             </form>  
				             {% else %}
				                <a onclick="showLoginModal();">
				                     <img src="{% static 'images/icon/cart_icon.png' %}" alt="カート">
				                 </a>                
				             {% endif %}
				          </li>
		             </ul>
 
		             <div>   
						{% if item.item_images %}
			    			{% with item.item_images.all.0 as image %}
			    			<figure>
		    					<a href="{% url 'items:item_detail' item.id %}">
			    					<img class="item_image img-fluid rounded" src="{{ image.image.url }}">
				    			</a>
				    			<div class="item_tag_row">
				    				<span class="item_tag">
				    					{% if item.taste %}
			    							{{ item.tea_type }}
				    					{% else %}
				    						{{ item.item_type }}
				    					{% endif %}
				    				</span>
				    				<span class="item_tag">
				    					{% if item.taste %}
		    								{{ item.taste }}
			    						{% else %}
			    							{{ item.occasion }}
			    						{% endif %}	
				    				</span>
				    			</div>
				    			<figcaption>
				    				<div class="recommend_item_name">
				    					<a href="{% url 'items:item_detail' item.id %}">
                                            <small>{{ item.name }}</small>
                                        </a>
                                        <small>{{ item.price | intcomma }}円(税込)</small>
				    				</div>
				    			</figcaption>
				    		</figure>
                    		{% endwith %}
                		{% else %}
                			{% load static %}
                    		<img class="item_image" src="{% static 'images/no_image.jpg' %}">
                    	{% endif %}
					</div>
				</div>
			{% empty %}
            	<p>出品商品はありません。</p>
			{% endfor %}
		</div>
		{% include "includes/pagination.html" %}
	</div>
	<script src="{% static 'js/favorite_add.js' %}"></script>
{% endblock %}
