{% extends "layouts/default.html" %}
 
{% block title %}{{ title }}{% endblock %}

{% block additional_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/review.css' %}">
{% endblock %} 

{% block content %}
<main class="container">
    <h1>{{ item.name }} {{ title }}</h1>
    
    <div class="average-rating">
        <p>平均評価: {{ average_rating|default:"まだ評価がありません" }}</p>
    </div>

    <div class="reviews-container">
        {% for review in reviews %}
            <div class="review">
                <p>評価: {{ review.stars }} stars</p>
                <p>コメント: {{ review.comment }}</p>
                <p>投稿者: {{ review.user.username }}</p>
                <p>投稿日: {{ review.create_date }}</p>
            </div>
        {% empty %}
            <p>レビュー投稿履歴はありません。</p>
        {% endfor %}
    
        <!--<form method="POST">-->
        <!--    {% csrf_token %}-->
        <!--    <textarea class="form-control" name="comment"></textarea>-->
        <!--    <input type="submit" value="送信">-->
        <!--</form>-->

        <!--{% for topic in topics %}-->
        <!--<div class="border">-->
        <!--    <div>{{ topic.comment }}</div>-->
            

        <!--    <div>{{ topic.avg_star_score }}点</div>-->

        <!--    <div>評価:-->
        <!--    {% with range=''|center:topic.avg_star_score  %}-->
        <!--    {% for x in range %}★{% endfor %}-->
        <!--    {% endwith %}-->

        <!--    {# 小数部の星を表示させる #}-->
        <!--    {% if topic.avg_star_icon_few == 1 %}★{% elif topic.avg_star_icon_few == 0.5 %}半{% endif %}-->
        <!--    </div>-->

        <!--</div>-->
        <!--{% endfor %}-->
    
            <!--<li>-->
            <!--    <a href="{% url 'review:detail' review.id %}">-->
            <!--        {{ review.user.username }}: {{ review.body }}-->
            <!--        ({{ review.created_at }})-->
            <!--    </a>-->
                <!--{% if item.image %}-->
                <!--    <p><img class="item_image" src="{{ item.image.url }}"></p>-->
                <!--{% else %}-->
                <!--    <p><img class="item_image" src="{% static 'images/no_image.png' %}"></p>-->
                <!--{% endif %}-->
            <!--</li>-->
    </div>
{% endblock %}