{% extends "layouts/default.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'stylesheets/review.css' %}">
{% endblock %} 

{% block content %}
<main class="container">
    <h1>{{ title }}</h1>
    
    <section class="row item_detail_container">
        <div class="col-4　d-flex">
            {% with item.item_images.all.0 as first_image %}
            <a href="{% url 'items:item_detail' item.id %}">
                <img class="item_image img-fluid" src="{{ first_image.image.url }}">
            </a>
            {% endwith %}
        </div>
        <div class="col-8">
            <div class="d-flex">
                <span>商品名：{{ item.name }}</span>
            </div>
            <div class="d-flex">
                <span>税込価格：{{ item.price | intcomma  }}円（内税{{ item.tax_percent }}%：{{ item.tax | intcomma }}円)）</span>
            </div>
        </div>
    </section>

    <form class="review-form" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %} 
        <div class="row review_container">
            <p>評　価　：　</p>
            <input id="star_radio_1" type="radio" name="rate" value="1">
            <input id="star_radio_2" type="radio" name="rate" value="2">
            <input id="star_radio_3" type="radio" name="rate" value="3">
            <input id="star_radio_4" type="radio" name="rate" value="4">
            <input id="star_radio_5" type="radio" name="rate" value="5">
    
            <div class="star_radio_label_flex">
                <label class="star_radio_label" for="star_radio_1"><div class="true_star"><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                <label class="star_radio_label" for="star_radio_2"><div class="true_star"><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                <label class="star_radio_label" for="star_radio_3"><div class="true_star"><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                <label class="star_radio_label" for="star_radio_4"><div class="true_star"><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
                <label class="star_radio_label" for="star_radio_5"><div class="true_star"><i class="fas fa-star"></i></div><div class="false_star"><i class="far fa-star"></i></div></label>
            </div>
        </div>        
 
        <div class="row review_container">
            <p>コメント：　</p>
            <textarea class="review_comment" name="comment" rows="4" cols="50"></textarea>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn_lg btn_gray" type="submit">投稿</button>
        </div>
    </form>
    
    <div class="return_link d-flex justify-content-center">
        <button class="btn" onclick="window.history.back();return false;">＜ 戻る</button>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/rateyo@2.3.2/lib/cjs/jquery.rateyo.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    // rating
    document.addEventListener('DOMContentLoaded', function () {
        var stars = document.querySelectorAll('.star_radio_label_flex label');

        stars.forEach(function (star) {
            star.addEventListener('click', function () {
                var rating = parseInt(star.getAttribute('for').split('_')[2]);
                updateStars(rating);
            });
        });

        function updateStars(rating) {
            stars.forEach(function (star) {
                var starRating = parseInt(star.getAttribute('for').split('_')[2]);
                star.classList.toggle('selected', starRating <= rating);
            });
        }
    });

    $(document).ready(function () {
        let selectedStar = null;
        // ホバー時の処理
        $(".star_radio_label_flex > label").hover(
            function () {
                $(this).find(".true_star").css("display", "inline-block");
                $(this).find(".false_star").css("display", "none");
                $(this).prevAll().find(".true_star").css("display", "inline-block");
                $(this).prevAll().find(".false_star").css("display", "none");
                $(this).nextAll().find(".true_star").css("display", "none");
                $(this).nextAll().find(".false_star").css("display", "inline-block");
            }
        );

        // クリックしたときの処理
        $(".star_radio_label_flex > label").click(
            function () {
                selectedStar = this;

                $(this).siblings().find(".true_star").css("display", "none");
                $(this).siblings().find(".false_star").css("display", "inline-block");
                $(this).find(".true_star").css("display", "inline-block");
                $(this).find(".false_star").css("display", "none");
                $(this).prevAll().find(".true_star").css("display", "inline-block");
                $(this).prevAll().find(".false_star").css("display", "none");
                $(this).nextAll().find(".true_star").css("display", "none");
                $(this).nextAll().find(".false_star").css("display", "inline-block");
            }
        );

        // マウスが外れたときの処理
        $(".star_radio_label_flex > label").mouseleave(function () {
            if (selectedStar === null) {
                $(".star_radio_label_flex > label").each(function () {
                    $(this).find(".true_star").css("display", "none");
                    $(this).find(".false_star").css("display", "inline-block");
                });
            }
        });
    });
</script>
</main>
{% endblock %}