<div class="row">
    <div class="col-5 offset-1 mt-5 item_detail_review_container">
        <h2>レビュー</h2>
        <div class="ml-5">
            {% if average_rate %}
                <p>平均: {{ average_rate }}</p>

            {% endif %}
        </div>
    </div>
    <div class="col-6 mt-5">
        {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li class="item_detail_review">
                    <strong>{{ review.user.username }}</strong> さん
                    <p>評価:
                        {% if review.rate == 5 %}
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        {% elif review.rate == 4 %}
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="far fa-star"></span>
                        {% elif review.rate == 3 %}
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="far fa-star"></span>
                            <span class="far fa-star"></span>
                        {% elif review.rate == 2 %}
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="far fa-star"></span>
                            <span class="far fa-star"></span>
                            <span class="far fa-star"></span>
                        {% elif review.rate == 1 %}
                            <span class="fas fa-star"></span>
                            <span class="far fa-star"></span>
                            <span class="far fa-star"></span>
                            <span class="far fa-star"></span>
                            <span class="far fa-star"></span>
                        {% endif %}
                    </p>
                    <p>コメント: {{ review.comment }}</p>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="text-center">
                <p>まだレビューはありません。</p>
            </div>    
        {% endif %}
    </div>
</div>