{% extends "layouts/default.html" %}
 
{% block title %}{{ title }}{% endblock %}

{% block additional_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/review.css' %}">
{% endblock %} 

{% block content %}
    <h1>{{ title }}</h1>
    <ul>
        {% for review in user_reviews %}
            <li>
                <a href="{% url 'review:detail' review.id %}">
                    {{ review.user.username }}: {{ review.body }}
                    ({{ review.created_at }})
                </a>
                <!--{% if item.image %}-->
                <!--    <p><img class="item_image" src="{{ item.image.url }}"></p>-->
                <!--{% else %}-->
                <!--    <p><img class="item_image" src="{% static 'images/no_image.png' %}"></p>-->
                <!--{% endif %}-->
            </li>
        {% empty %}
            <li>レビュー投稿履歴はありません。</li>
        {% endfor %}
    </ul>
{% endblock %}